extends ../layout/_layout

block var
  - var title = 'Get In Touch | Joseph Pinder'
  - var description = 'This is a template.'
  - var pageUrl = ''


  

block content

  main#main.main

    .content__main.x--wide.grid

      .content__proper.proper.content--narrow.flex--col
        
        article.article
          h1 Error 404

          p 
            | I guess you're lost... 
            a(href='/') Need some help getting back?
