extends ../layout/_layout

block var
  //- - title = 'The Ladies Medical Centre | OB/GYN | Nassau, Bahamas'
  - description = 'The Ladies Medical Centre offers women an uncompromising excellence in Obstetrics and Gynacology in a safe, comfortable ands supportive environment.'
  - keywords = 'beauty salon, hair salon, nail salon, natural hair salon, salon nassau bahamas, silk press, silkpress'
  - pageUrl = ''

  //- - let imgUrl = 'https://static.thehairrepublic.net/img/the-hair-republic-natural-hair-naturalista-nassau-bahamas.jpg'
  //- - imgUrl = 'pregnant-woman-with-charming-smile.jpg'
  - imgUrl = 'site/78dee8917d-1665496657/lmc-hero-fallback.jpg'

  - home = true

block content
      
  