select(class='[ form__input ]')
  option(value='no' disabled selected) Select Island
  option(value='New Providence') New Providence
  option(value='Grand Bahama') Grand Bahama
  option(value='Abaco') Abaco
  option(value='Acklins') Acklins
  option(value='Andros') Andros
  option(value='Berry Islands') Berry Islands
  option(value='Bimini') Bimini
  option(value='Cat Island') Cat Island
  option(value='Crooked Island') Crooked Island
  option(value='Eleuthera') Eleuthera
  option(value='Exuma') Exuma
  option(value='Inagua') Inagua
  option(value='Long Island') Long Island
  option(value='Mayaguana') Mayaguana
  option(value='Ragged Island') Ragged Island
  option(value='Rum Cay') Rum Cay
  option(value='San Salvador') San Salvador
